.table {
	display: flex;
}

.mainviewport {
	
}
.mainviewport:focus {
	outline: none;
}

.row {
	display: table-row;
}
.offset {
	/* display: inline; */
	user-select: none;
}
.offset div {
	/* display: table-cell; */
}


.row span {
	display: table-cell;
	width: auto;
	text-align: center;
}
.row span input {
	width: 100%;
	display: inline-block;
}
.row span {
	box-sizing: border-box;
	padding: 0 0.5rem;
}